

/* Style for Index.html */
body{
    margin:0;
    padding:0;
    font-family:'Arial', serif;
    background-image: url("../images/background.png");
      
    
}

.nav{
    background-color: white;
    color: darkgray;
    list-style: none;
    text-align: right;
    padding: 20px ;
    overflow: hidden;
    border-bottom:2px solid darkgray;

    max-width: 960px;
    margin: 0 auto;
    background: whitesmoke;
   
    display: block;
    
    

    
  
      }


.nav > li {
    display: inline-block;
    padding:0 25px 0 25px;
    
}

.nav > li > a {
    text-decoration: none;
    color: darkgray;
    float: right;
}

.nav > li > a:hover {
    color: teal
}

.logo {
    color:darkgray;
    background-color: "";
    float: left;
    padding:0px 25px 25px 25px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Arial', serif;
    position:relative;
    top:0;
    left:0;
}

.logo > a {
    text-decoration: none;
    color: darkgray;
   
}

.content{
    background-color: whitesmoke;
    display: block;
    padding: 20px;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}





/* Styles for Contact Page */
.container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    color: gray;
    max-width: 960px;
    margin: 0 auto;
       
        
}

.wrapper{
    display: block;
    max-width: 960px;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc ; 
     
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color:#4aaaa5;
    color: white;
    padding:12px 20px;
    cursor: pointer;
    font-weight:bold;
    font-family:'Georgia', Times, Times New Roman, serif;
}

h1{
    color: #4aaaa5;
   
    display: block;
    padding: 20px;
   background: whitesmoke;
    max-width: 960px;
    margin: 0 auto;
    
}